<h2>Select a Game</h2>

<!-- Link the view to the controller -->
<div ng-controller="MenuCtrl" >
	<div>
		<p>Pick a game to play and show us some witty vocabulary:</p>
	</div>
	<div class="col-xs-10">
		<div id="libView" class="col-xs-8">
			<ul>
				<!-- Use ng-repeat to output the list of Nerd Libs we can play -->
				<!-- Create a link to play the Nerd Lib -->
				<li ng-repeat="libs in libsTemplates">
					<span class="libTitle"><a href="#/play/{{$index}}">{{libs.name}}</a></span>
				</li>
			</ul>
		</div>
		
		<!-- Add a new button that links to an online real-time game (link to just '#/online') -->
		<div id="onlineView" class="col-xs-4">
			<span class="onlineTitle"><a href="#/online">Play Online</a></span>
		</div>
	</div>
</div>
